{% extends "auth/header.html" %}

{% block login %}
<div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post">
              <h1>Kayıt Ekranı</h1>
              <!--İsim -->
              <div class="form-group has-feedback">
                  <input type="text" name="name" class="form-control" id="inputSuccess3" placeholder="İsim" required="">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!--Soyisim -->
              <div class="form-group has-feedback">
                  <input type="text" name="surname" class="form-control" id="inputSuccess3" placeholder="Soyisim" required="">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!--Telefon -->
              <div class="form-group has-feedback">
                  <input type="text" name="phone" class="form-control" maxlength="10" id="inputSuccess3" placeholder="Telefon" required="">
                  <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!--Mail -->
              <div class="form-group has-feedback">
                  <input type="email" name="mail" class="form-control" id="inputSuccess3" placeholder="Mail" required="">
                  <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!--Çalışma Alanı -->
              <div class="form-group has-feedback">
                  <input type="text" name="workspace" class="form-control" id="inputSuccess3" placeholder="Çalışma Alanı" required="">
                  <span class="fa fa-suitcase form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!--Cinsiyet -->
              <div class="form-group has-feedback">
                <p align="left"><b>Cinsiyet</b></p>
                <select id="heard" class="form-control" name="gender" required="">
                  <option value=""></option>
                  <option value="kadın">Kadın</option>
                  <option value="erkek">Erkek</option>
                  <option value="diger">Diğer</option>
                </select>
              </div>
              <!--Doğum Tarihi -->
              <div class="form-group has-feedback">
                <p align="left"><b>Doğum Tarihi</b></p>
                <div class="col-12">
                  <input class="form-control" name="birthday" type="date" value="2020-04-01" id="example-date-input">
                </div>
              </div>

              <br>
              <!-- tc -->
              <div class="form-group has-feedback">
                  <input type="text" class="form-control" name="tc" maxlength="11" id="inputSuccess3" placeholder="TC Kimlik No" required="">
                  <span class="fa fa-credit-card form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!-- Kullanıcı Adı -->
              <div class="form-group has-feedback">
                  <input type="text" class="form-control" name="username" id="inputSuccess3" placeholder="Kullanıcı Adı" required="">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!-- Parola -->
              <div class="form-group has-feedback">
                  <input type="password" class="form-control" name="password" id="inputSuccess3" placeholder="Parola" required="">
                  <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
              </div>
              <!-- Parola Tekrar-->
              <div class="form-group has-feedback">
                  <input type="password" class="form-control" name="repeatpassword" id="inputSuccess3" placeholder="Parola Tekrar" required="">
                  <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div>
                <button type="submit" class="btn btn-default submit">Kayıt Ol</button>
                <a class="reset_pass" href="{{ url_for('auth.login') }}">Giriş ekranına mı gitmek istiyorsun?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div>
                  <h1><i class="fa fa-home"></i> Yaşam Kapısı!</h1>
                </div>
              </div>

            </form>
          </section>
        </div>
      </div>
    </div>	
{% endblock login %}